	{% extends 'base.html' %}

	{% block title %}About{% endblock %}

	{% block content %}
		
		 
		<div class="container purple lighten-5">
		
		<h5>Vidéo de presentation</h5>
		<div class="video-container">
        	<iframe width="853" height="480" src="https://www.youtube.com/embed/X0W4GfcYJB8" frameborder="0" allowfullscreen></iframe>
      	</div>
      	
      	<div class="divider"></div>
      	
      	<h5>Vidéo de recrutement</h5>
		<div class="video-container">
        	<iframe width="853" height="480" src="https://www.youtube.com/embed/eWvvIn4A-oo" frameborder="0" allowfullscreen></iframe>
      	</div>
		
		<h5>Nous contacter</h5>
		<div class="row">
			<div class="col s12 m6 l6">
				<li><a href="mailto:nuitdelinfo2019@gmail.com"class="waves-effect waves-light btn-small purple lighten-3">Email</a><br></li>
				<li><a href="https://www.facebook.com/Etu_perdu-110761460406436/"class="waves-effect waves-light btn-small purple lighten-3">Facebook</a><br></li>
			</div>
			<div class="col s12 m6 l6">
				<li><a href="https://www.instagram.com/etu_perdu/"class="waves-effect waves-light btn-small purple lighten-3">Instagram</a><br></li>
				<li><a href="https://www.linkedin.com/in/camille-langrand-838246199/"class="waves-effect waves-light btn-small purple lighten-3">Linkedin</a><br></li>
			</div>
		</div>
		
		<div class="divider"></div>
		
		<h5>Nous trouver</h5>
		<div class="center-align" class="row">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2812.129543410266!2d5.750780815621574!3d45.18447386008562!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478af50294451ae7%3A0x98ac746d8822d48!2s%C3%89cole%20polytechnique%20de%20l&#39;universit%C3%A9%20Grenoble-Alpes!5e0!3m2!1sfr!2sfr!4v1575591726101!5m2!1sfr!2sfr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="True"></iframe>
		</div>
		
				
		</div>
			
			
	{% endblock %}


