	{% extends 'base.html' %}

	{% block title %}Actualités{% endblock %}

	{% block content %}
		
		 
		<div class="container purple lighten-5">
			<script src="//rss.bloople.net/?url=https%3A%2F%2Fnews.google.com%2Frss%2Fsearch%3F%26hl%3Dfr%26gl%3DFR%26scoring%3Dn%26num%3D3%26q%3Dintitle%3Acrous%26ceid%3DFR%3Afr&showtitle=false&type=js"></script>
		</div>
			
			
	{% endblock %}


