	{% extends 'base.html' %}

	{% block title %}Affichage transport{% endblock %}

	{% block content %}
		
		 
		<div class="container purple lighten-5">
		
		<div class="row">
			<div class="col s12">
				<div class="card purple lighten-4">
					<h5>Résultat de la simulation de transport</h5>
					<p>Vous êtes éligible à une réduction de {{val}}% sur vos abonnements de transports</p>
					<a href="https://www.tag.fr/70-comment-acheter.htm"class="waves-effect waves-light btn-small purple lighten-3">Site de la TAG</a>
				</div>
			</div>
			
		</div>
		
		
				
		</div>
			
			
	{% endblock %}


