	{% extends 'base.html' %}

	{% block title %}Affichage soins{% endblock %}

	{% block content %}
		
		 
		<div class="container purple lighten-5">
		
		<div class="row">
			<div class="col s12">
				<div class="card purple lighten-4">
					<h5>Résultat de la simulation de soins</h5>
					<p>{{val}}</p>
				</div>
			</div>
			
		</div>
		
		
				
		</div>
			
			
	{% endblock %}


