	{% extends 'base.html' %}

	{% block title %}Affichage logement{% endblock %}

	{% block content %}
		
		 
		<div class="container purple lighten-5">
		
		<div class="row">
			<div class="col s12">
				<div class="card purple lighten-4">
					<h5>Résultat de la simulation d'apl</h5>
					<p>Vous êtes éligible à des APL mensuelles de {{val}}€</p>
					<a href="https://wwwd.caf.fr/wps/portal/caffr/aidesetservices/lesservicesenligne/estimervosdroits/lelogement"class="waves-effect waves-light btn-small purple lighten-3">Effectuer votre demande d'APL</a>
				</div>
			</div>
			
		</div>
		
		
				
		</div>
			
			
	{% endblock %}


