	{% extends 'base.html' %}

	{% block title %}About{% endblock %}

	{% block content %}
		
		 
		<div class="container purple lighten-5">
		
		<div class="row">
			<div class="col s12">
				<div class="card purple lighten-4">
					<h5>Résultat de la simulation de bourse</h5>
					<p>Vous êtes éligible à une bourse annuelle de {{bourse}}€</p>
					<a href="https://idp.messervices.etudiant.gouv.fr/idp/profile/SAML2/Redirect/SSO;jsessionid=CD11968159DFA7614985A65B31D2B088?execution=e1s1"class="waves-effect waves-light btn-small purple lighten-3">Effectuer votre demande de bourse</a>
				</div>
			</div>
			
		</div>
		
		
				
		</div>
			
			
	{% endblock %}


