	{% extends 'base.html' %}

	{% block title %}Aides{% endblock %}

	{% block content %}
	
	<div class="container">
	<div class="row">
	 <div class="col s12"><h5><center>Aides</center></h5>
	 						<p>La plupart des étudiants ignorent qu’ils peuvent pourvoir à de nombreuses aides financières ou autres en ce qui concerne le logements, la vie de tous les jours, les stages ou encore la santé. Ce site a pour but de regrouper les différentes informations relatives à ces aides.</p>
	 </div>
	</div>
	<div class="divider"></div>
  	<div class="section">
    	<h5>Bourses</h5>
    	<p>Peu importe votre situation, de nombreuses aides et bourses existent pour vous aider dans votre vie quotidienne.</p>
    	<a href="/aides/bourses"class="waves-effect waves-light btn-small purple lighten-3">+ d'infos</a>
  	</div>
 	<div class="divider"></div>
  	<div class="section">
    	<h5>Aides au logement</h5>
    	<p>Trouver un logement peut s’avérer très compliqué pour des étudiants. Mais rassurez-vous, il existe plusieurs solutions pour vous aider que ce soit pour trouver votre logement ou encore le financer.</p>
    	<a href="/aides/logement"class="waves-effect waves-light btn-small purple lighten-3">+ d'infos</a>
 	</div>
 	<div class="divider"></div>
 	<div class="section">
    	<h5>Soins</h5>
    	<p>Trop souvent, les étudiants mettent leur santé de côté faute d’informations sur les démarches de remboursements ou sur leurs droits. Heureusement, il existe déjà de nombreuses solutions pour remédier à ce problème. 
</p>
    	<a href="/aides/soins"class="waves-effect waves-light btn-small purple lighten-3">+ d'infos</a>
    <div class="divider"></div>
    
 	<div class="section">
    	<h5>Transports</h5>
    	<p>Utiliser les transports en commun est une manière très pratique et parfois inévitable de se déplacer pour les étudiants. Heureusement, la plupart des sociétés de transport proposent des réductions.</p>
    	<a href="/aides/transports"class="waves-effect waves-light btn-small purple lighten-3">+ d'infos</a>
  </div>
  </div>
  </div>
	{% endblock %}

