	{% extends 'base.html' %}

	{% block title %}Aide soins{% endblock %}

	{% block content %}
		
		<div class="container">
	<div class="row">
	 <div class="col s12"><h5><center>Soins</center></h5>
	 						<p>Trop souvent, les étudiants mettent leur santé de côté faute d’informations sur les démarches de remboursements ou sur leurs droits. Heureusement, il existe déjà de nombreuses solutions pour remédier à ce problème.</p>
	 </div>
	</div>
	<div class="divider"></div>
  	<div class="section">
    	<h5>Soins</h5>
    	<a href="https://smerra.fr/"class="waves-effect waves-light btn-small purple lighten-3">Smerra</a>
  		<a href="https://www.lmde.fr/" class="waves-effect waves-light btn-small purple lighten-3">LMDE</a>
  	</div>
 	<div class="divider"></div>
  	
 	
  </div>
 
	{% endblock %}


