	{% extends 'base.html' %}

	{% block title %}aides_bourses{% endblock %}

	{% block content %}
		
		<div class="container">
	<div class="row">
	 <div class="col s12"><h5><center>Logements</center></h5>
	 						<p>Trouver un logement peut s’avérer très compliqué pour des étudiants. Pas suffisamment d’offres, des prix élevés et les annonces tardives de résultats scolaires vous obligent parfois à chercher un logement au dernier moment. Mais rassurez-vous, il existe plusieurs solutions pour vous aider que ce soit pour trouver votre logement ou encore le financer.</p>
	 </div>
	</div>
	<div class="divider"></div>
  	<div class="section">
    	<h5>Trouver un logement</h5>
    	<a href="https://trouverunlogement.lescrous.fr/"class="waves-effect waves-light btn-small purple lighten-3">Logement CROUS</a>
  		<a href="https://www.leboncoin.fr/locations/offres/"class="waves-effect waves-light btn-small purple lighten-3">Leboncoin</a>
  	</div>
 	<div class="divider"></div>
  	<div class="section">
    	<h5>Financez votre logement</h5>
    	<a href="https://idp.messervices.etudiant.gouv.fr/idp/profile/SAML2/Redirect/SSO?execution=e1s1"class="waves-effect waves-light btn-small purple lighten-3">Bourse Crous</a>
    	<a href="https://wwwd.caf.fr/wps/portal/caffr/aidesetservices/lesservicesenligne/estimervosdroits/lelogement"class="waves-effect waves-light btn-small purple lighten-3">Demande d'APL Caf</a>
 		<a href="/simulation_logement"class="waves-effect waves-light btn-small purple accent-3">Notre simulateur</a>
 	</div>
 	
  </div>
 
	{% endblock %}


