	{% extends 'base.html' %}

	{% block title %}aides_bourses{% endblock %}

	{% block content %}
		
		<div class="container">
	<div class="row">
	 <div class="col s12"><h5><center>Bourses</center></h5>
	 						<p>Vous rencontrez des difficultés financières ? Vous prévoyez prochainement un voyage/stage à l’étranger ? Vous êtes étudiant étranger arrivant en France ? Peu importe votre situation, de nombreuses aides et bourses existent pour vous aider dans votre vie quotidienne. Vérifiez votre éligibilité en allant dans l’onglet “Simulation” de notre site.</p>
	 </div>
	</div>
	<div class="divider"></div>
  	<div class="section">
    	<h5>Bourses etudiantes</h5>
    	<p>Effectuer votre demande de bourses sur le site du Crous</p>
    	<a href="https://idp.messervices.etudiant.gouv.fr/idp/profile/SAML2/Redirect/SSO;jsessionid=CD11968159DFA7614985A65B31D2B088?execution=e1s1"class="waves-effect waves-light btn-small purple lighten-3">CROUS</a>
  		<a href="https://wwwd.caf.fr/wps/portal/caffr/login/!ut/p/a1/hY9ND4IwDIZ_i4cdx4okarwRQ_yKUaOJsIsZpOCSMcg2IP57gYsXP3pq3z592zLOYsa1aGUhnKy0UEPNZ_fT0V9v9hdYH09RANtofr5Gq4O_OE97IOkB-BIh_Ju_MT4iPxx2jBeqSsdrklCnwaJg3GCOBo3XmF5-OFcvCRDous7LRO7lhoBQqsqEE9KgJVCipRZNK7M-QU2VLDQSyIc2bTRSK8tGjW9_WvOorGPx257VZQyUp88unExe2arYLg!!/dl5/d5/L2dBISEvZ0FBIS9nQSEh/#/signature"class="waves-effect waves-light btn-small purple lighten-3">APL</a>
  	</div>
 	<div class="divider"></div>
  	<div class="section">
    	<h5>Faire une simulation</h5>
    	<p>Faites une simulation de vos droits de bourses</p>
    	<a href="https://simulateur.lescrous.fr/"class="waves-effect waves-light btn-small purple lighten-3">SIMULATEUR CROUS</a>
 	<a href="/simulation_bourses"class="waves-effect waves-light btn-small purple accent-3">NOTRE SIMULATEUR</a>
 	</div>
 	<div class="divider"></div>
 	<div class="section">
    	<h5>Bourses a l'etranger</h5>
    	<p>Si vous souhaitez partir a l'etranger decouvrir de nouveax horizons</p>
    	<a href="#"class="waves-effect waves-light btn-small purple lighten-3">ETRANGER</a>
   
  </div>
  </div>
 
	{% endblock %}


