	{% extends 'base.html' %}

	{% block title %}Aide transports{% endblock %}

	{% block content %}
		
		<div class="container">
	<div class="row">
	 <div class="col s12"><h5><center>Transports</center></h5>
	 	<p>Utiliser les transports en commun est une manière très pratique et parfois inévitable de se déplacer pour les étudiants. Heureusement, la plupart des sociétés de transport proposent des réductions, que ce soit pour les petites distances déplacement (tram, metro, bus) ou les plus grandes (trains, avions). Les bourses régionales peuvent également vous aider à payer vos frais de transports à l’année.</p>
	 </div>
	</div>
	<div class="divider"></div>
  	<div class="section">
    	<h5>Transports</h5>
    	<a href="https://www.tag.fr/70-comment-acheter.htm"class="waves-effect waves-light btn-small purple lighten-3">Site de la TAG</a>
 		<a href="/simulation_transport"class="waves-effect waves-light btn-small purple accent-3">Notre simulateur</a>
  	</div>
 	<div class="divider"></div>
  	
 	
  </div>
 
	{% endblock %}


