<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Flask{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  
	
</head>
<body>
  
	<nav>
    		<div class="nav-wrapper purple lighten-2">
    			<div class="row">
    				<a href="/" class="brand-logo center">Etuperdu?</a>
    			</div>
      			<div class="row">
      				<a href="/"><i class="material-icons left">home</i></a>
			    	<a href="/login"><i class="material-icons left">account_circle</i></a>
			    </ul>
      			</div>
			    
			 </div>
  	</nav>
  	<ul id="slide-out" class="sidenav sidenav-fixed">
			<li><a href="/">Accueil</a></li>
      		<li><a href="/actualites">Actualité</a></li>
      		<li><a href="/aides">Les aides</a></li>
      		<li><a href="/simulation">Simulation</a></li>
      		<li><a href="/FAQ">FAQ</a></li>
      		<li><a href="/forum">Forum</a></li>
      		<li><a href="/about">A propos</a></li>
      		<li><a href="/forum"><h5>Sujets à la une</h5></a></li>
      		<li><div class="card purple lighten-5"><h5 class="center-align">Je n'ai pas reçu de bourse</h5><br><p class="center-align">Je n’ai pas reçu la bourse de mon fils qui est a l’université qui dois-je contacter ?</p></div></li>
      		<li><div class="card purple lighten-5"><h5 class="center-align">Demande APL étudiant</h5><br><p class="center-align">Bonsoir, en voulant rentrer du cinéma chez moi, je n’ai pas retrouver mon vélo. Ce dernier a tout simplement été volé…</p></div></li>
      		<li><div class="card purple lighten-5"><h5 class="center-align">Vol de vélo</h5><br><p class="center-align">Bonsoir, en voulant rentrer du cinéma chez moi, je n’ai pas retrouver mon vélo. Ce dernier a tout simplement été volé…</p></div></li>
    	</ul>
    	

    {% block content %}{% endblock %}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>


<footer class="page-footer purple lighten-3">
          <div class="container ">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Qui sommes-nous ?</h5>
                <li><a class="grey-text text-lighten-3" href="/about">A propos</a></li>
                <li><a class="grey-text text-lighten-3" href="https://www.nuitdelinfo.com/">Nuit de l'info</a></li>
              </div>
              
              <div class="col l6 s12">
                <h5 class="white-text">Sites utiles</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://www.caf.fr">Caf</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://www.impots.gouv.fr">Impots.gouv</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://www.crous-grenoble.fr">Crous</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://www.messervices.etudiant.gouv.fr/envole/">Mes services étudiant</a></li>
                </ul>
              </div>
             
            </div>
          </div>
          
        </footer>

</html>