    {% extends 'base.html'%}
	{% block title %}Créer un compte{% endblock %}
	{% block content %}
	<div class="container">
	<div class="row">
	 <div class="col s12"><h5><center>Creation d'un compte</center></h5>
	 						<p>Veuillez entrer vos information pour créer un compte</p>
	 </div>
        <div class="form">
        <form method="post" action='/login'>
        <div class="input-field col s12">
				<input id="nom" type="text" class="validate" name="nom">
				<label class="active" for="revenues">Nom</label>
        </div>
        <div class="input-field col s12">
				<input id="prenom" type="text" class="validate" name="prenom">
				<label class="active" for="revenues">Prenom</label>
        </div>
        <div class="input-field col s12">
				<input id="pass" type="password" class="validate" name="pass">
				<label class="active" for="revenues">Password</label>
        </div>
        <div class="input-field col s12">
				<input id="pseudo" type="text" class="validate" name="pseudo">
				<label class="active" for="revenues">Pseudo</label>
        </div>
        <div class="input-field col s12">
				<input id="email" type="email" class="validate" name="email">
				<label class="active" for="revenues">Email</label>
        </div>
        <div class="input-field col s12">
				<input id="date" type="date" class="validate" name="date">
				<label class="active" for="revenues">Date de naissance</label>
        </div>
        <div class="input-field col s12">
				<input id="ville" type="text" class="validate" name="ville">
				<label class="active" for="revenues">Ville</label>
        </div>
        <div class="input-field col s12">
				<input id="ecole" type="text" class="validate" name="ecole">
				<label class="active" for="revenues">Ecole</label>
        </div>
        <div class="input-field col s12">
				<input id="annee" type="number" class="validate" name="annee">
				<label class="active" for="revenues">Bac+</label>
        </div>

        <div class="btn-block">
				<button id='submit' type="submit" class="validate" name="submit"  method="POST"> Create account
                </button>
        </div>
            </form>
  </div>
  </div>
  </div>
	{% endblock %}




