	{% extends 'base.html' %}

	{% block title %}Forum 1{% endblock %}

	{% block content %}
		
		 
		<div class="container purple lighten-5">
		<div class="col s2">
				<a href="/forum" class="waves-effect waves-light btn-small purple lighten-3">Retour</a>
		</div>
		<h5 class="center-align">Je n'ai pas reçu de bourse</h5>
		
		<div class="divider"></div>
		
		<div class="left-align" class="row">
			<div  class="card purple lighten-3">
				<div class="valign-wrapper" class="row">
					<div class="col s4 m2 l2">
						<i class="medium material-icons left">account_circle</i>
					</div>
					<div class="col s8 m10 l10">
						<p>Je n’ai pas reçu la bourse de mon fils qui est a l’université qui dois-je contacter ?</p>
					</div>
				</div>
			</div>
		</div>
		
		<div class="divider"></div>
		
		<div class="left-align" class="row">
			<div  class="card purple lighten-3">
				<div class="valign-wrapper" class="row">
					<div class="col s4 m2 l2">
						<i class="medium material-icons left">account_circle</i>
					</div>
					<div class="col s8 m10 l10">
						<p>Bonjour,<br>Quel organisme doit vous verser des fonds ?
</p>
					</div>
				</div>
			</div>
		</div>
		
		<div class="divider"></div>
		
		<div class="left-align" class="row">
			<div  class="card purple lighten-3">
				<div class="valign-wrapper" class="row">
					<div class="col s4 m2 l2">
						<i class="medium material-icons left">account_circle</i>
					</div>
					<div class="col s8 m10 l10">
						<p>Le Crous, à ce jour je n’ai toujours pas eu de nouvelles concernant l’avancement des dossier sociaux…</p>
					</div>
				</div>
			</div>
		</div>
		
		
		<div class="center-align"class="row">
			
			
			<div class="input-field purple lighten-4 col s8">
          		<label for="first_name">Commenter</label><br><br>
        	</div>
			
			<div class="col s2">
				<a href="" class="waves-effect waves-light btn-small purple lighten-3">Publier</a>
			</div>
		</div>
				
		</div>
			
			
	{% endblock %}


