	{% extends 'base.html' %}

	{% block title %}Forum 2{% endblock %}

	{% block content %}
		
		 
		<div class="container purple lighten-5">
		<div class="col s2">
				<a href="/forum" class="waves-effect waves-light btn-small purple lighten-3">Retour</a>
		</div>
		<h5 class="center-align">Demande APL étudiant</h5>
		
		<div class="divider"></div>
		
		<div class="left-align" class="row">
			<div  class="card purple lighten-3">
				<div class="valign-wrapper" class="row">
					<div class="col s4 m2 l2">
						<i class="medium material-icons left">account_circle</i>
					</div>
					<div class="col s8 m10 l10">
						<p>Je m'intéresse afin d'effectuer une demande d'APL pour un logement que je loue a un particulier pour la rentrée. J'ai donc décidé de faire la simulation et je suis éligible a l'APL. J'ai donc commencé la demande afin de voir si certains points me gênait et il y en a un que je ne comprends pas[...]</p>
					</div>
				</div>
			</div>
		</div>
		
		<div class="divider"></div>
		
		<div class="left-align" class="row">
			<div  class="card purple lighten-3">
				<div class="valign-wrapper" class="row">
					<div class="col s4 m2 l2">
						<i class="medium material-icons left">account_circle</i>
					</div>
					<div class="col s8 m10 l10">
						<p>Bonjour,

Vous écrivez que vous louez à un particulier, si vous en êtes sûr vous pouvez cocher non à la question, sci, sarl.
Le but pour la caf est de voir si vous avez un lien de parenté avec le propriétaire, qu’il soit en particulier ou en sci
</p>
					</div>
				</div>
			</div>
		</div>
		
		<div class="divider"></div>
		
		<div class="left-align" class="row">
			<div  class="card purple lighten-3">
				<div class="valign-wrapper" class="row">
					<div class="col s4 m2 l2">
						<i class="medium material-icons left">account_circle</i>
					</div>
					<div class="col s8 m10 l10">
						<p>D'accord je vous remercie.</p>
					</div>
				</div>
			</div>
		</div>
		
		<div class="divider"></div>
		
		<div class="center-align"class="row">	
			
			<div class="input-field purple lighten-4 col s8">
          		<label for="first_name">Commenter</label><br><br>
        	</div>
			
			<div class="col s2">
				<a href="" class="waves-effect waves-light btn-small purple lighten-3">Publier</a>
			</div>
		</div>
				
		</div>
			
			
	{% endblock %}


