	{% extends 'base.html' %}

	{% block title %}Forum 1{% endblock %}

	{% block content %}
		
		 
		<div class="container purple lighten-5">
		<div class="col s2">
				<a href="/forum" class="waves-effect waves-light btn-small purple lighten-3">Retour</a>
		</div>
		<h5 class="center-align">Bourse pour un stage à l'étranger</h5>
		
		<div class="divider"></div>
		
		<div class="left-align" class="row">
			<div  class="card purple lighten-3">
				<div class="valign-wrapper" class="row">
					<div class="col s4 m2 l2">
						<i class="medium material-icons left">account_circle</i>
					</div>
					<div class="col s8 m10 l10">
						<p>Hello la compagnie 
Je voulais savoir si certaines d'entre vous pouvez encore m'aider ! Voilà, je suis actuellement en L3 Management du Sport et l'année prochaine je pars en Master "International Sport Administration". Le problème c’est que ce stage comporte 2 stage obligatoires à l’étranger. J'aimerais donc savoir s’il est possible de toucher une bourse pour partir ? 
Merci d'avance à celles et ceux qui pourront m'aider !
</p>
					</div>
				</div>
			</div>
		</div>
		
		<div class="divider"></div>
		
		<div class="left-align" class="row">
			<div  class="card purple lighten-3">
				<div class="valign-wrapper" class="row">
					<div class="col s4 m2 l2">
						<i class="medium material-icons left">account_circle</i>
					</div>
					<div class="col s8 m10 l10">
						<p>Yo, Renseigne toi pour erasmus. Je sais qu’ils financent les stages à l'étranger en zone européenne mais je sais pas si c'est valable pour les stages demandés en cursus scolaire</p>
					</div>
				</div>
			</div>
		</div>
		
		<div class="divider"></div>
		
		<div class="left-align" class="row">
			<div  class="card purple lighten-3">
				<div class="valign-wrapper" class="row">
					<div class="col s4 m2 l2">
						<i class="medium material-icons left">account_circle</i>
					</div>
					<div class="col s8 m10 l10">
						<p>J'avais pas pensé à Erasmus, j'irais me renseigner merci ! Je crois que le crous peut octroyer des bourses à l'étranger même pour les étudiants non boursiers de base, mais je suis pas sûre c'est pour ça que je demande</p>
					</div>
				</div>
			</div>
		</div>
		
		<div class="divider"></div>
		
		<div class="center-align"class="row">
			
			
			<div class="input-field purple lighten-4 col s8">
          		<label for="first_name">Commenter</label><br><br>
        	</div>
			
			<div class="col s2">
				<a href="" class="waves-effect waves-light btn-small purple lighten-3">Publier</a>
			</div>
		</div>
				
		</div>
			
			
	{% endblock %}


