	{% extends 'base.html' %}

	{% block title %}Forum 1{% endblock %}

	{% block content %}
		
		 
		<div class="container purple lighten-5">
		<div class="col s2">
				<a href="/forum" class="waves-effect waves-light btn-small purple lighten-3">Retour</a>
		</div>
		<h5 class="center-align">Vol de vélo</h5>
		
		<div class="divider"></div>
		
		<div class="left-align" class="row">
			<div  class="card purple lighten-3">
				<div class="valign-wrapper" class="row">
					<div class="col s4 m2 l2">
						<i class="medium material-icons left">account_circle</i>
					</div>
					<div class="col s8 m10 l10">
						<p>Bonsoir, en voulant rentrer du cinéma chez moi, je n’ai pas retrouver mon vélo. Ce dernier a tout simplement été volé… Je ne sais pas réellement à qui m’adresser, pourriez-vous m’aider ?</p>
					</div>
				</div>
			</div>
		</div>
		
		<div class="divider"></div>
		
		<div class="left-align" class="row">
			<div  class="card purple lighten-3">
				<div class="valign-wrapper" class="row">
					<div class="col s4 m2 l2">
						<i class="medium material-icons left">account_circle</i>
					</div>
					<div class="col s8 m10 l10">
						<p>Bonsoir, ne t’inquiète pas, tu peux porter porter plainte à la police, puis suivant ton assurance, tu peux être rembourser d’un certain montant. Fais attention à ne pas trop trainer pour déclarer le vol, tu pourrais peut-être retrouver ton vélo!</p>
					</div>
				</div>
			</div>
		</div>
		
		<div class="divider"></div>
		
		<div class="left-align" class="row">
			<div  class="card purple lighten-3">
				<div class="valign-wrapper" class="row">
					<div class="col s4 m2 l2">
						<i class="medium material-icons left">account_circle</i>
					</div>
					<div class="col s8 m10 l10">
						<p>Bonjour, je merci pour ton message, j’ai fini par aller porter plainte le lendemain, et il se trouve que la police avait mon vélo! En effectuant une saisie de vélo il ont miraculeusement récupéré le miens !!</p>
					</div>
				</div>
			</div>
		</div>
		
		
		<div class="center-align"class="row">
			
			
			<div class="input-field purple lighten-4 col s8">
          		<label for="first_name">Commenter</label><br><br>
        	</div>
			
			<div class="col s2">
				<a href="" class="waves-effect waves-light btn-small purple lighten-3">Publier</a>
			</div>
		</div>
				
		</div>
			
			
	{% endblock %}


