{% extends 'base.html' %} {% block title %}FAQ{% endblock %} {% block
content %}

<div class="container grey lighten-2">
                        <h5><center>F.A.Q</center></h5>
	 				<div class="col s4 grey lighten-1 "><p>-> Bonjour, bienvenue sur Eduperdu.</p></div>
	 					<div class="col s4 grey lighten-1 "><p>-> Comment puis-je vous aider ?</p></div>
	<form action="/FAQ" method="post">
    <div class="row">
      <div class="col s4">
      
      	<p><label> <input type="checkbox" name="0" /> <span>Presentation du campus</span></label></p>
		<p><label> <input type="checkbox" name="1"/> <span>Presentation fonctionnement de la bourse du CROUS</span></label></p>
		<p><label> <input type="checkbox" name="2"/> <span>Faire une demande de bourse</span></label></p>
		<p><label> <input type="checkbox" name="3"/> <span>Connaitre les montants de la bourse</span></label></p>
		<p><label> <input type="checkbox" name="4"/> <span>Faire une simulation de bourse</span></label></p>
		<p><label> <input type="checkbox" name="5"/> <span>Je n ai pas recu ma bourse</span></label></p>
		
      </div>
       <div class="col s4">
      
      	<p><label> <input type="checkbox" name="6"/> <span>Demander un logement etudiant</span></label></p>
		<p><label> <input type="checkbox" name="7"/> <span>Fonctionnement des APL</span></label></p>
		<p><label> <input type="checkbox" name="8"/> <span>Demande d APL</span></label></p>
		<p><label> <input type="checkbox" name="9"/> <span>Faire une simulation d APL</span></label></p>
		<p><label> <input type="checkbox" name="10"/> <span>Demander une reduction sur les transports</span></label></p>
		<p><label> <input type="checkbox" name="11"/> <span>Faire une simulation d aide aux transports</span></label></p>
		
      </div>
      <div class="col s4">
     
      	<p><label> <input type="checkbox" name="12"/> <span>Je n arrive pas a creer mon compte</span></label></p>
		<p><label> <input type="checkbox" name="13"/> <span>Aide forum</span></label></p>
		<p><label> <input type="checkbox" name="14"/> <span>Je ne retrouve pas un mot de passe</span></label></p>
		<p><label> <input type="checkbox" name="15"/> <span>Je suis etranger</span></label></p>
		<p><label> <input type="checkbox" name="16"/> <span>Contact</span></label></p>
		
      </div>
      
   
    </div>
    <button class="btn waves-effect waves-light purple lighten-3" type="submit"
			name="action">Envoyer 
			<i class="material-icons right">send</i>

		</button>
		</form>
      
		<h5> </h5>
    </div>
	
	
	
	

	{% endblock %}