{% extends 'base.html' %} {% block title %}FAQ{% endblock %} {% block
content %}

<div class="container grey lighten-2">
                        <h5><center>F.A.Q</center></h5>
	 				<div class="col s4 grey lighten-1 "><p>-> Bonjour, bienvenue sur Eduperdu.</p></div>
	 					<div class="col s4 grey lighten-1 "><p>-> Comment puis-je vous aider ?</p></div>
	 						<div class="col s4 grey lighten-1 "><p>-> Voici les reponses que j'ai trouve pour vous.</p></div>
	 	
				<ul>
				{% for phrase in val %}
					<li>{{ phrase }}</li>
				{% endfor %}
				</ul>
				
    </div>
	
	
	
	

	{% endblock %}