	{% extends 'base.html' %}

	{% block title %}Forum{% endblock %}

	{% block content %}
		
		 
		<div class="container purple lighten-5">
		
		<h4 class="center-align">Forum</h4>
		<p>Sur ce forum, vous pouvez créer un nouveau topic ou en lire d’autres existants pour résoudre vos problèmes. Les autres internautes pourront vous aider en répondant aux topics. Si malgré tous ces topics vous ne trouvez toujours pas de réponse à vos questions vous pouvez toujours contacter l'équipe “Etuperdu?” qui se fera un plaisir de vous aider.
Bien entendu les règle de respect et de bienséances s’appliquent à tous sur ce forum. Tout manquement sera sanctionné.</p>
		
		<div class="divider"></div>
		
		<div class="center-align" class="row">
			<div  class="card purple lighten-3">
				<a class="black-text" href="/forum/1"><h5>Je n'ai pas reçu de bourse</h5></a><br>
				<div class="right-align"class="row"><p>3 commentaires</p></div>
			</div>
		</div>
		
		<div class="divider"></div>
		
		<div class="center-align" class="row">
			<div class="card purple lighten-3">
				<a class="black-text" href="/forum/2"><h5>Demande APL etudiant</h5></a><br>
				<div class="right-align"class="row"><p>3 commentaires</p></div>
			</div>
		</div>
		
		<div class="divider"></div>
		
		<div class="center-align" class="row">
			<div class="card purple lighten-3">
				<a class="black-text" href="/forum/3"><h5>Bourse pour un stage à l'étranger</h5></a><br>
				<div class="right-align"class="row"><p>3 commentaires</p></div>
			</div>
		</div>
		
		<div class="divider"></div>
		
		<div class="center-align" class="row">
			<div class="card purple lighten-3">
				<a class="black-text" href="/forum/4"><h5>Vol de vélo</h5></a><br>
				<div class="right-align"class="row"><p>3 commentaires</p></div>
			</div>
		</div>
		
				
		</div>
			
			
	{% endblock %}


