	{% extends 'base.html' %}

	{% block title %}Home{% endblock %}

	{% block content %}
		
		 
		<div class="container purple lighten-5">
		
		
    	
		
		
			<div class="row">
				<div class="col purple lighten-3 s12 m12 l12">
					<blockquote ><h4>ETUPERDU, qu'est-ce que c'est ?</h4><p>Tu es étudiant et tu rencontres des difficultés pour gérer tes démarches administratives (logement, santé, bourses…) ? Tu as besoin d’aides financières mais tu ne sais pas quelles aides existent et si tu es éligible ?
Le nouveau site étudiant Etu perdu ? est là pour toi. Nous t’aidons dans toutes tes démarches, regroupons toutes les informations nécessaires et te mettons en contact avec des experts de l’administratif.
</p></blockquote>
				</div>
				
				<div class="col purple lighten-4 s12 m6 l6">
					<a class="black-text" href="/aides/logement"><div class="center-align"><i class="large material-icons">home</i></div>
					<h2 class="center-align">Logement</h2></a>
				</div>
				
				<div class="col purple lighten-4 s12 m6 l6">
					<a class="black-text" href="/aides/bourses"><div class="center-align"><i class="large material-icons">euro_symbol</i></div>
					<h2 class="center-align">Bourse</h2></a>
				</div>
				
				<div class="col purple lighten-4 s12 m6 l6">
					<a class="black-text" href="/aides/soins"><div class="center-align"><i class="large material-icons">healing</i></div>
					<h2 class="center-align">Santé</h2></a>
				</div>
				
				<div class="col purple lighten-4 s12 m6 l6">
					<a class="black-text" href="/aides/transports"><div class="center-align"><i class="large material-icons">directions_car</i></div>
					<h2 class="center-align">Transports</h2></a>
				</div>
				
				<div class="center-align col purple lighten-4 s12">
					<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpermalink.php%3Fstory_fbid%3D111027390379843%26id%3D110761460406436&width=500" width="500" height="713" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
				</div>
				
				<div class="center-align col purple lighten-4 s12">
					<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpermalink.php%3Fstory_fbid%3D111011813714734%26id%3D110761460406436&width=500" width="500" height="560" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
				</div>
				
			</div>
			
			
				
				
			</div>
			
			
	{% endblock %}


