	{% extends 'base.html' %}

	{% block title %}About{% endblock %}

	{% block content %}
		
		 
		<div class="container purple lighten-4">
		
			<div class="center-align""><h2>Erreur 404 : Page introuvable !</h2></div>
				
		</div>
			
			
	{% endblock %}


