 {% extends 'base.html' %} {% block title %}Simulation_bourses{% endblock %} {%
block content %}

<div class="container">
	<form class="col s12" action="/simulation_bourses" method="post">
	 <div class="col s12"><h5><center>Simulation de vos bourses</center></h5> 						
	 </div>
	<form class="col s12" action="/simulationresult" method="post">
		<div class="row">
			<div class="input-field col s12">
				<input id="revenues" type="number" class="validate" name="revenues">
				<label class="active" for="revenues">Revenues</label>
			</div>
			<div class="input-field col s12">
				<input id="distance" type="number" class="validate" name="distance">
				<label class="active" for="distance">Distance</label>
			</div>
			<div class="input-field col s6">
				<input id="nb_fr" type="number" class="validate" name="nb_fr">
				<label class="active" for="nb_fr">Nombre de freres et soeurs</label>
			</div>
			<div class="input-field col s6">
				<input id="nb_fr_sup" type="number" class="validate" name="nb_fr_sup">
				<label class="active" for=""nb_fr_sup"">Nombre de freres et soeurs en etude superieur</label>

			</div>
		</div>
		<button class="btn waves-effect waves-light purple lighten-3" type="submit"
			name="action">
			Envoyer <i class="material-icons right">send</i>

		</button>
	</form>
	<h5>  </h5>
</div>



{% endblock %}


