	{% extends 'base.html' %}

	{% block title %}Simulations{% endblock %}

	{% block content %}
	
	<div class="container">
	<div class="row">
	 <div class="col s12"><h5><center>Nos simulations</center></h5>
	 						<p>Il existe donc de très nombreuses bourses et aides possibles pour vous accompagner et ce, peu importe votre situation. Cependant, ces aides nécessitent certaines conditions (revenus, situation, âge …). Vérifiez si vous êtes éligibles en réalisant des simulations.</p>
	 </div>
	</div>
	<div class="divider"></div>
  	<div class="section">
    	<h5>Bourses</h5>
    	<a href="/simulation_bourses"class="waves-effect waves-light btn-small purple lighten-3">LA SIMULATION</a>
  	</div>
 	<div class="divider"></div>
  	<div class="section">
    	<h5>Aides au logement</h5>
    	<a href="/simulation_logement"class="waves-effect waves-light btn-small purple lighten-3">LA SIMULATION</a>
 	</div>
 	<div class="divider"></div>
 	<div class="section">
    	<h5>Soins</h5>
    	<a href="/simulation_soins"class="waves-effect waves-light btn-small purple lighten-3">LA SIMULATION</a>
    <div class="divider"></div>
 	<div class="section">
    	<h5>Transports</h5>
    	<a href="/simulation_transport"class="waves-effect waves-light btn-small purple lighten-3">LA SIMULATION</a>
  </div>
  </div>
  </div>
	{% endblock %}

