 {% extends 'base.html' %} {% block title %}Simulation_logement{%
endblock %} {% block content %}

<script>

$(document).ready(function(){
    $('select').formSelect();
  });
</script>

<div class="container">
<form class="col s12" action="/simulation_logement" method="post">
<div class="col s12"><h5><center>Simulation de vos aides au logement</center></h5> 						
	 </div>
	<form class="col s12" action="/simulation_logement" method="post">
		<div class="row">
			<div class="input-field col s12">
				<input id="loyer" type="number" class="validate" name="loyer">
				<label class="active" for="loyer">Loyer</label>
			</div>
			<div class="input-field col s12">
				<input id="revenus" type="number" class="validate" name="revenus">
				<label class="active" for="revenus">Revenus</label>
			</div>
			<div class="input-field col s12">
				<input id="surface" type="number" class="validate" name="surface">
				<label class="active" for="surface">Surface du logement</label>
			</div>
			<div class="input-field col s12">
				<input id="code_postal" type="number" class="validate" name="code_postal">
				 <label class="active" for="code_postal">Code postal</label>
			</div>
			<div class="input-field col s12">
				<select name="situation">
					<option value="" disabled selected>Selection de votre situation</option>
					<option value="1">Locataire</option>
					<option value="2">Proprietaire</option>
			
				</select> <label>Situation</label>
			</div>



		</div>

		<button class="btn waves-effect waves-light purple lighten-3"
			type="submit" name="action">
			Envoyer <i class="material-icons right">send</i>

		</button>
	</form>
	<h5></h5>
</div>



{% endblock %}


