 {% extends 'base.html' %} {% block title %}Simulation_logement{%
endblock %} {% block content %}

<script>

$(document).ready(function(){
    $('select').formSelect();
  });
</script>

<div class="container">
<div class="col s12"><h5><center>Simulation de vos aides sante</center></h5> 						
	 </div>
	<form class="col s12" action="/simulation_soins" method="post">
		<div class="row">
			<div class="input-field col s12">
				<input id="revenus" type="number" class="validate" name="revenus">
				<label class="active" for="revenus">Revenus</label>
			</div>
		
			<div class="input-field col s12">
				<select name="situation">
					<option value="" disabled selected>Selection du handicap</option>
					<option value="1">Leger</option>
					<option value="2">Lourd</option>
					<option value="2">Aucun</option>
			
				</select> <label>Handicap</label>
			</div>



		</div>

		<button class="btn waves-effect waves-light purple lighten-3"
			type="submit" name="action">
			Envoyer <i class="material-icons right">send</i>

		</button>
	</form>
	<h5></h5>
</div>



{% endblock %}


