 {% extends 'base.html' %} {% block title %}Simulation_transport{% endblock %} {%
block content %}

<div class="container">
<div class="col s12"><h5><center>Simulation de vos aides aux transports</center></h5> 						
	 </div>
	<form class="col s12" action="/simulation_transport" method="post">
		<div class="row">
			<div class="input-field col s12">
				<input id="revenues_tr" type="number" class="validate" name="revenues_tr">
				<label class="active" for="revenues_tr">Revenues</label>
			</div>
			<div class="input-field col s12">
				<input id="bourses" type="number" class="validate" name="bourses">
				<label class="active" for="bourses">Bourses versee</label>
			</div>
			<div class="input-field col s12">
				<input id="distance_ed" type="number" class="validate" name="distance_ed">
				<label class="active" for="distance_ed">Distance entre domicile et ecole</label>
			</div>
			
		</div>
		<button class="btn waves-effect waves-light purple lighten-3" type="submit"
			name="action">
			Envoyer <i class="material-icons right">send</i>

		</button>
	</form>
	<h5>  </h5>
</div>



{% endblock %}


